.vs/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production
npm-debug.log

# No bundled stuff in git
bin/
dist/
dist-ssr
lib/
*.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
.vercel
