div#loadingpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgba(255, 255, 255, 0.87);
  background-color: #29242a;
  font-family: Karla, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 97vw;
  height: 98vh;
}

div.SpinnerBox {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  z-index: 999;

  &:focus-visible {
    outline: none;
  }
}

div.SpinnerBox span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

div.SpinnerBox span:nth-of-type(1) {
  filter: blur(5px);
}

div.SpinnerBox span:nth-of-type(2) {
  filter: blur(10px);
}

div.SpinnerBox span:nth-of-type(3) {
  filter: blur(25px);
}

div.SpinnerBox span:nth-of-type(4) {
  filter: blur(50px);
}

div.SpinnerBox::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #29242a1a;
  border: solid 5px #fafafaea;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

span.loadingspan {
  position: absolute;
  top: 60%;
}
