/* MUI OVERRIDES */
div.MuiContainer-root.BodyContainer {
  max-width: none;
  padding: 0;
}

img.react-photo-album--photo { /* NOTE: Affects all React Photo Album imgs! */
  border-radius: 24px;
  max-height: 30vh;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 0.85;
    transition: opacity 0.2s ease-out;
  }
}
