h4.TopBannerLogoTextHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  pointer-events: none;
  user-select: none;
}

div.Logo-Box {
  display: flex;
  justify-content: center;
  width: 100%;
  @media (max-width: 430px) {
    display: none;
  }
}

div.Logo-Box-Mobile {
  display: none;
  @media (max-width: 430px) {
    display: flex;
    position: absolute;
    left: 50%;
    margin: 0 auto;
  }
}

img.ZDA-Logo-TopBanner {
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
  /* More precise but less compatible/more buggy */
  /* &:hover { */
    /* display: none; */
  /* } */
}

img.ZDA-Logo-TopBanner-Hover {
  display: none;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
}

/* More precise but less compatible/more buggy */
/* img.ZDA-Logo-TopBanner:hover + img {
  display: block;
} */

/* Less precise but more compatible/less buggy */
div.Logo-Box:hover img.ZDA-Logo-TopBanner,
div.Logo-Box:active img.ZDA-Logo-TopBanner {
  display: none;
}

div.Logo-Box:hover img.ZDA-Logo-TopBanner-Hover,
div.Logo-Box:active img.ZDA-Logo-TopBanner-Hover {
  display: block;
}

div.Logo-Box-Mobile:hover img.ZDA-Logo-TopBanner,
div.Logo-Box-Mobile:active img.ZDA-Logo-TopBanner {
  display: none;
}

div.Logo-Box-Mobile:hover img.ZDA-Logo-TopBanner-Hover,
div.Logo-Box-Mobile:active img.ZDA-Logo-TopBanner-Hover {
  display: block;
}

div.TopBannerBox.MuiBox-root {
  padding-right: 0 !important;
  width: 98% !important;
}
