/* MUI OVERRIDES */
div.MuiContainer-root.TopInfoContainer {
  max-width: none;
  padding: 0;
}

img.zerodayanubis-text-logo {
  pointer-events: none;
  user-select: none;
  filter: drop-shadow(2px -2px 1px #29242a2c);
  max-width: 300px;
  @media (max-width: 670px) {
    width: 250px;
  }
  @media (max-width: 400px) {
    width: 240px;
  }
}

div.MuiModal-backdrop {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

div.MuiBox-root.SpinnerBox {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  z-index: 999;

  &:focus-visible {
    outline: none;
  }
}

div.MuiBox-root.SpinnerBox span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

div.MuiBox-root.SpinnerBox span:nth-of-type(1) {
  filter: blur(5px);
}

div.MuiBox-root.SpinnerBox span:nth-of-type(2) {
  filter: blur(10px);
}

div.MuiBox-root.SpinnerBox span:nth-of-type(3) {
  filter: blur(25px);
}

div.MuiBox-root.SpinnerBox span:nth-of-type(4) {
  filter: blur(50px);
}

div.MuiBox-root.SpinnerBox::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #29242a1a;
  border: solid 5px #fafafaea;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

button.MuiButton-root.ButtonRounded {
  border-radius: 24px; /* force full rounded button for Commission Info btn when isClosed */
}
