/* MUI OVERRIDES */
span.MuiSwitch-track.Mui-checked {
  background-color: #506aff;
  &:focus-visible {
    outline: none;
  }
}

span.MuiSwitch-thumb.Mui-checked {
  color: #405aef;
  background-color: #fafafa;
}

span.MuiSwitch-track {
  background-color: #f59801;
  &:focus-visible {
    outline: none;
  }
}

span.MuiSwitch-thumb {
  color: #ffaa00;
  background-color: #fff;
}

div.MuiSwitch-action:focus-visible {
  outline: none;
}

/* CLICKABLE AREA FIX FOR SWITCH */
input[type="checkbox"].MuiSwitch-input {
  position: relative;
}
