#root {
  width: 100%;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* MUI OVERRIDES */
div.MuiContainer-root.AppContainer {
  max-width: none;
  padding: 0;
}
