@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAILWIND CSS EXTENSIONS */
@layer components {
  .webkit-appearance-none {
    -webkit-appearance: none;
  }
}
/* -- */

:root {
  font-family: "Plus Jakarta Sans", Outfit, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* fixes the i in Ko-fi */
  font-variant: no-common-ligatures;
}

body {
  margin: 0;
  display: flex;
  min-width: 1px;
  min-height: 100vh;
}

body.noscroll {
  overflow: hidden;
  width: 100%;
}

/* CSS ADDENDUM */
.nav-link-animated {
  display: inline-block;
  position: relative;
  /* text-gray-700 */
  color: rgb(55, 65, 81);
  width: fit-content;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease-out, filter 0.3s ease-out;
  &:hover {
    /* zdaRedpink-500 */
    color: #ff1a62;
    filter: drop-shadow(0 0 32px #ff1a6260);
    transition: color 0.3s ease-out, filter 0.3s ease-out;
  }
  &:active {
    font-weight: 800;
  }
}

.nav-link-animated::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.3rem;
  left: 0;
  /* zdaRedpink-500 */
  background-color: #ff1a62;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  transition: transform 0.3s ease-out;
}

.nav-link-animated-dark {
  display: inline-block;
  position: relative;
  /* text-gray-200 */
  color: rgb(229, 231, 235);
  width: fit-content;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease-out, filter 0.3s ease-out;
  &:hover {
    /* zdaRedpink-600 */
    color: #ff0048;
    filter: drop-shadow(0 0 3px #ff004829);
    transition: color 0.3s ease-out, filter 0.3s ease-out;
  }
  &:active {
    font-weight: 800;
  }
}

.nav-link-animated-dark::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  height: 2px;
  bottom: -0.3rem;
  left: 0;
  /* zdaRedpink-600 */
  background-color: #ff0048;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  transition: transform 0.3s ease-out;
}

.nav-link-animated:hover::after,
.nav-link-animated-dark:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.footer-link-animated {
  display: inline-block;
  position: relative;
  width: fit-content;
  padding-right: 0.2rem;
}

.footer-link-animated::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.3rem;
  left: 0;
  /* text-gray-600 */
  background-color: #4b5563;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  transition: transform 0.3s ease-out;
}

.footer-link-animated-dark {
  display: inline-block;
  position: relative;
  width: fit-content;
  padding-right: 0.2rem;
}

.footer-link-animated-dark::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  height: 2px;
  bottom: -0.3rem;
  left: 0;
  /* text-gray-300 */
  background-color: #d1d5db;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  transition: transform 0.3s ease-out;
}

.footer-link-animated:hover::after,
.footer-link-animated-dark:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.btn-logopage {
  transition: background-image 0.3s ease-out;
  &:hover .btn-logopage-helper {
    opacity: 1;
  }
  &:active .btn-logopage-helper {
    opacity: 0;
  }
  &:active .btn-logopage-helper-active {
    opacity: 1;
  }
}

.btn-logopage-helper {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.45s ease-out;
}

.btn-logopage-helper-active {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-out;
}

div.header-logo-box {
  display: grid;
  grid-template-rows: auto min-content;
}

img.header-logo {
  opacity: 1;
  transition: all 0.4s ease-out;
  grid-area: 1 / 1 / 3 / 2;
}

img.header-logo-hover {
  opacity: 0;
  transition: all 0.4s ease-out;
  grid-area: 2 / 1 / 3 / 2;
}

div.header-logo-box:hover img.header-logo,
div.header-logo-box:active img.header-logo {
  opacity: 0;
}

div.header-logo-box:hover img.header-logo-hover,
div.header-logo-box:active img.header-logo-hover {
  opacity: 1;
}

header.top-header {
  /* zdaBG-lighterCard */
  background-color: #f5f5f5;
  background-image: none;
  transition: all 0.3s ease-out;
}

header.scrolled-header {
  background-color: unset;
  /* zdaRedpink-400/5 */
  background-image: linear-gradient(
    to top,
    rgba(255, 82, 142, 0.05),
    rgba(255, 82, 142, 0)
  );
  border-color: transparent;
  transition: all 0.3s ease-out;
}

header.top-header-dark {
  /* zdaBG-darkerCard */
  background-color: #0e0d10;
  background-image: none;
  transition: all 0.3s ease-out;
}

header.scrolled-header-dark {
  background-color: unset;
  /* zdaRedpink-700/5 */
  background-image: linear-gradient(
    to top,
    rgba(199, 0, 43, 0.05),
    rgba(199, 0, 43, 0)
  );
  border-color: transparent;
  transition: all 0.3s ease-out;
}
/* -- */
