@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAILWIND CSS EXTENSIONS */
@layer components {
  .webkit-appearance-none {
    -webkit-appearance: none;
  }
}
/* -- */

:root {
  font-family: "Plus Jakarta Sans", Outfit, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* fixes the i in Ko-fi */
  font-variant: no-common-ligatures;
}

body {
  margin: 0;
  display: flex;
  /* min-width: 320px; */
  min-width: 1px;
  min-height: 100vh;
}

/* CSS ADDENDUM */
.nav-link-animated {
  display: inline-block;
  position: relative;
  color: #2284ff; /* zdaBlue-500 */
  width: fit-content;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease-out, filter 0.3s ease-out;
  &:hover {
    color: #166ae8; /* zdaBlue-550 */
    filter: drop-shadow(0 0 32px #166ae880);
    transition: color 0.3s ease-out, filter 0.3s ease-out;
  }
  &:active {
    font-weight: 600;
  }
}

.nav-link-animated::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -0.3rem;
  left: 0;
  background-color: #166ae8; /* zdaBlue-550 */
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  transition: transform 0.3s ease-out;
}

.nav-link-animated-dark {
  display: inline-block;
  position: relative;
  color: #2284ff; /* zdaBlue-500 */
  width: fit-content;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease-out, filter 0.3s ease-out;
  &:hover {
    color: #49a1ff; /* zdaBlue-450 */
    filter: drop-shadow(0 0 3px #49a1ff70);
    transition: color 0.3s ease-out, filter 0.3s ease-out;
  }
  &:active {
    font-weight: 600;
  }
}

.nav-link-animated-dark::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -0.3rem;
  left: 0;
  background-color: #49a1ff; /* zdaBlue-450 */
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  transition: transform 0.3s ease-out;
}

.nav-link-animated:hover::after,
.nav-link-animated-dark:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}
